* {
  box-sizing: border-box;
}
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  //background-color: #ddd;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.container {
  height: 0;
}
.h1,
p {
  text-align: left;
}
h1 {
  font-size: 1em;
  line-height: 1em;
}
p {
  font-size: 1em;
  line-height: 1em;
}
a {
  color: inherit;
  &:hover {
    color: white;
  }
}
.wrapcontent {
  //shape-outside: circle(50%);
}
.centred {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle {
  background-color: powderblue;
  color: #333;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  display: block;
  padding: 0;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  border: 5px solid darken(powderblue, 5%);
  transition: all 1s ease-out;
  &:hover {
    background-color: maroon;
    border: 5px solid darken(maroon, 10%);
    color: #fff;
  }
}
@media only screen and (min-width: 350px) {
  .outline {
    border: 5px solid grey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    box-sizing: border-box;
  }
  .circle {
    h1 {
      font-size: 0.9em;
      line-height: 1em;
    }
    p {
      font-size: 0.8em;
      line-height: 1em;
      color: white;
      text-align: center;
    }
    a {
      color: inherit;
    }
    & > .wrapcontent,
    & > h1,
    & > p {
      display: inline-block;
      vertical-align: middle;
      & > h1,
      & > p {
        display: block;
      }
    }
  }
}
@media only screen and (min-width: 481px) {
  .circle {
    h1 {
      font-size: 1.2em;
      line-height: 1em;
    }
    p {
      font-size: 1em;
      line-height: 1em;
    }
  }
}
@media only screen and (min-width: 768px) {
  .circle {
    h1 {
      font-size: 1.6em;
      line-height: 1em;
    }
    p {
      font-size: 1.2em;
      line-height: 1em;
    }
  }
}
