#title{
  position: absolute;
  top: 25px;
  left: 300px;
}

.fullscreen{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#centreCircle{
  position: absolute;
  //width: 100px;
  //height: 100px;
  left: 25%;
  top: 25%;
  background-color: white;
}

.circle{
  border-radius: 50%;
  //border: 1px solid black;
}
